<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ @(#) SysResourceMapper.xml
  ~ 版权声明 厦门畅享信息技术有限公司, 版权所有 违者必究
  ~
  ~ <br> Copyright:  Copyright (c) 2020
  ~ <br> Company:厦门畅享信息技术有限公司
  ~ <br> @author Administrator
  ~ <br> 2020-03-03 14:50:12
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.resource.SysResourceMapper">


    <select id="getResource" resultType="com.example.demo.model.resource.ResourceView">
        SELECT
            DISTINCT T1.RESOURCE_URL,T3.NAME AS roleName
        FROM
            T_SYS_RESOURCE T1
        LEFT JOIN T_SYS_LINK_RESOURCE_ROLE T2 ON T1.RESOURCE_ID = T2.RESOURCE_ID
        LEFT JOIN T_SYS_ROLE T3 ON T2.ROLE_ID = T3.ROLE_ID
    </select>
</mapper>